A:hover {
color: #ff0000;
}

.whatnew
	{
	font-size: 10pt;
	line-height: 13pt;
	color: #ffffff;
	}

.top
	{
	font-size: 10pt;
	line-height: 13pt;
	}


.text
	{
	font-size: 12pt;
	line-height: 21pt;
	}
.bar
	{
	font-size: 10pt;
	line-height: 16pt;
	}
.title
	{
	font-size: 21pt;
	border-style: solid;
	border-color: #0000ff;
	border-width: 0 0 8 22;
	}
.image
	{
	font-size: 12pt;
	line-height: 40pt
	}